[submodule "code/pole/extern_libs/eigen-git-mirror"]
	path = code/pole/extern_libs/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "code/pole/extern_libs/random"]
	path = code/pole/extern_libs/random
	url = https://github.com/effolkronium/random.git
[submodule "code/f16/extern_libs/random"]
	path = code/f16/extern_libs/random
	url = https://github.com/effolkronium/random.git
[submodule "code/f16/extern_libs/msgpack11"]
	path = code/f16/extern_libs/msgpack11
	url = https://github.com/ar90n/msgpack11.git
[submodule "code/f16/extern_libs/eigen-git-mirror"]
	path = code/f16/extern_libs/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "code/pole_new/libs/random"]
	path = code/pole_new/libs/random
	url = https://github.com/effolkronium/random.git
[submodule "code/pole_new/libs/span"]
	path = code/pole_new/libs/span
	url = https://github.com/tcbrindle/span.git
[submodule "code/pole_new/libs/Catch2"]
	path = code/pole_new/libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "code/pole_new/libs/fmt"]
	path = code/pole_new/libs/fmt
	url = https://github.com/fmtlib/fmt.git
