[submodule "code/pole/extern_libs/eigen-git-mirror"]
	path = code/pole/extern_libs/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "code/pole/extern_libs/random"]
	path = code/pole/extern_libs/random
	url = https://github.com/effolkronium/random.git
[submodule "code/pole_new/libs/random"]
	path = code/pole_new/libs/random
	url = https://github.com/effolkronium/random.git
[submodule "code/pole_new/libs/span"]
	path = code/pole_new/libs/span
	url = https://github.com/tcbrindle/span.git
[submodule "code/pole_new/libs/Catch2"]
	path = code/pole_new/libs/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "code/pole_new/libs/fmt"]
	path = code/pole_new/libs/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "code/pole_new/libs/eigen"]
	path = code/pole_new/libs/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "code/trajectory_optimization_1/external/cw"]
	path = code/trajectory_optimization_1/external/cw
	url = https://github.com/aarondewindt/cw.git